header {
  display: flex;
}
.header {
  width: calc(100% - 280px);
  justify-content: flex-end;
  padding: 1.5rem 0;
  display: flex;
  place-self: start center;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.header-menu a {
  font: var(--font1-s);
  padding: 1rem;
  color: #E0E0E0;
  text-decoration: none;
  border-radius: .5rem;
  border: 1px solid transparent;
  display: block;
  transition: .5s ease;
}

.header-menu a:hover {
  color: var(--c4);
  border-color: var(--c6);
  background-color: #1414143d;
  backdrop-filter: blur(4px);
}


#languages {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .header a {
    background: #3D3D3D;
  }
}